/* Grundlegende Einstellungenen */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
}

h2 {
  color: #333;
}

/* Define the custom font */
@font-face {
  font-family: 'Nico Moji';
  src: url('Fonts/Nico Moji/nicomoji-plus_v0.9.ttf') format('truetype');
}

/* Apply the custom font to h1 elements */
h1 {
  font-family: 'Nico Moji', sans-serif;
  font-size: 3.5em; /* Adjust the font size as needed */
  color: #DF4F4F; /* Example color, adjust as needed */
  text-align: center; /* Example alignment, adjust as needed */
}

/* Centering and maintaining aspect ratio for the GIF */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; /* Full height of the viewport */
}

#gif-container {
  position: relative;
  width: 600px; /* Width of the GIF */
  height: 350px; /* Height of the GIF */
  margin: 0 auto; /* Centers the container horizontally */
}

#veloAnimation, #veloAnimation_bunt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

#veloAnimation_bunt {
  opacity: 0;
}

#gif-container:hover #veloAnimation_bunt {
  opacity: 1;
}

#gif-container:hover #veloAnimation {
  opacity: 0;
}

/* Formulare und Eingabefelder */
input[type="text"], input[type="email"], button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  width: 300px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

/* Links */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Abschnitte und Abstand */
h1, h2 {
  margin-top: 60px;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}

/* Tabellen */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Versuch_Lina */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2D0B65;
  color: #DF4F4F;
}

header {
  background: #2D0B65;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

.menuchur {
  color: #CED766;
  font-family: 'Nico Moji', sans-serif; /* Chur */
}

.menubern {
  color: #946AEE;
  font-family: 'Nico Moji', sans-serif; /* Bern */
}

.menufribourg {
  color: #73D9EF;
  font-family: 'Nico Moji', sans-serif; /* Fribourg */
}

.menuzurich {
  color: #66D793; 
  font-family: 'Nico Moji', sans-serif; /* Zürich */
}

h1 {
  font-family: 'Nico Moji', sans-serif;
  text-align: center;
  color: #DF4F4F; /* Farbe für Website */
}

h2 {
  font-family: 'Nico Moji', sans-serif;
  text-align: center;
  color: #CED766; /* Farbe für links unten */
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin: 120px;
  text-align: center;
  max-width: 200px;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

.center-column {
  flex: 60;
  margin: 50px;
}

.box {
  background-color: #CED766;
  padding: 40px;
  margin: 20px 0;
  border-radius: 100px;
  color: #2D0B65;
}

.textbox {
  color:  #CED766;
}

.long-box {
  background-color: #CED766;
  padding: 90px;
  margin: 30px;
  border-radius: 100px;
  color: #2D0B65;
}

.graphic {
  background-color: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 60px;
  color: #2D0B65;
}

.box#chur {
  background-color:  #CED766;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Nico Moji', sans-serif;
  text-align: center;
}

.box#bern {
  background-color: #946AEE;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Nico Moji', sans-serif;
  text-align: center;
}

.box#fribourg {
  background-color: #73D9EF;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Nico Moji', sans-serif;
  text-align: center;
}

.box#zurich {
  background-color: #66D793;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Nico Moji', sans-serif;
  text-align: center;
}

footer {
  background: #2D0B65;
  color: #DF4F4F;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* Responsive Design in Arbeit */
@media (max-width: 375px) {
  .container {
    flex-direction: column;
    padding: 30px;
  }

  @media (max-width: 420px) {
    #gif-container {
      width: 100%; /* Full width on small screens */
      height: auto; /* Maintain aspect ratio */
    }
  
    #gif-container img {
      width: 100%; /* Full width of the parent container */
      height: auto; /* Maintain aspect ratio */
    }
  }

  .center-column {
    order: 1; /* Display center-column first */
    padding: 30px;
    margin: 0px;
  }
  .right-column {
    order: 3; /* Display right-column third */
    padding: 10px;
    margin: 30px;
  }

  .long-box {
    padding: 50px;
    margin: 10px 0;
    border-radius: 180px;
    max-width: 400px;
  }

  .textbox {
    font-size: 14px;
    line-height: 1.5;
  }

  header, footer {
    padding: 5px 0;
    max-width: 400px;
  }

  nav ul li {
    display: block;
    }
}



